/* Global styles
-------------------------------*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #f6f6f6;
  font-family: 'Open Sans', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

/* Navbar styles
--------------------------------*/
nav {
  position: fixed;
  background: #008194;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 4;
}

nav ul {
  list-style-type: none;
}

nav li:nth-child(1) {
  padding-left: 3%;
  font-weight: bolder;
}

nav li {
  float: right;
  padding: 8px;
}

nav li:first-child {
  float: left;
}

nav a {
  display: inline-block;
  padding: 8px;
  color: #fff;
  text-decoration: none;
}

nav a.notification {
  display: block;
  height: 40px;
  width: 40px;
}

.notification span {
  position: relative;
  display: block;
  left: -5px;
  top: -30px;
  z-index: 5;
  width: 16px;
  height: 16px;
  background: blue;
  border-radius: 50%;
  font-size: .8rem;
  text-align: center;
  font-weight: bolder;
}

/* Sidebar styles
-------------------------------------*/
main > ul:nth-child(1) {
  position: fixed;
  padding: 50px 0 0 0;
  height: 100%;
  width: 5%;
  list-style-type: none;
  background-color: #fff;
  overflow: auto;
  box-shadow: 0px 4px 10px rgba(0,0,0,.2);
  overflow: hidden;
}

.sidebar li {
  text-align: center;
}

.sidebar li a {
  display: block;
  height: 50px;
}

.sidebar svg {
  width: 16px;
  height: 50px;
  fill: black !important;
}

.sidebar .active svg,
.sidebar svg:hover {
  fill: #3f9cf0 !important;
}

/* Sub menu styles
-------------------------------------*/
ul.sub-menu {
  position: absolute;
  top: 80px;
  left: 8%;
  height: 66px;
  width: 89%;
  color: #000;
  border: 1px solid rgba(0,0,0,.3);
  background: #fff;
  overflow: hidden;
  padding: 8px;
}

.sub-menu li {
  text-align: center;
}

.sub-menu li a {
  display: block;
  padding: 16px;
  color: #000;
  text-decoration: none;
}

.sub-menu > ul:nth-child(1) > li > a:hover {
  background-color: #555;
  color: white;
}

.sub-menu > li {
  display: inline-block;
  height: 100%;
  left: 100%;
  vertical-align: middle;
}

.sub-menu > li:nth-last-child(-1n+3) {
  float: right;
  font-size: .9rem;
  font-weight: 600;
}

.sub-menu li a {
  display: block;
  text-align: center;
  padding: auto 16px;
  text-decoration: none;
}

.sub-menu li a.active,
.sub-menu li a:hover {
  color: #3f9cf0;
}

/* Multi select field
------------------------------------------- */
.sub-menu span {
  display: block;
  float: left;
  padding: 16px;
}

.sub-menu select {
  margin: 8px;
}

option {
  height: 32px;
  padding: 8px;
  box-sizing: border-box;
  font-size: .9rem;
  width: 100px;
  background: #f1f1f1;
  color: grey;
}

/* Anaylsis styles
-----------------------------------------------*/
div.analysis {
  position: absolute;
  top: 170px;
  left: 8%;
  width: 90%;
  min-height: 100px;
}

.analysis div {
  width: 24%;
  height: 120px;
  float: left;
  margin-right: 1%;
  box-shadow: 0px 4px 10px rgba(0,0,0,.2);
  color: #fff;
  text-align: center;
}

.analysis span {
  position: relative;
  top: 20%;
  display: block;
  width: 100%;
}

.analysis span:nth-child(odd) {
  font-weight: 700;
  font-size: 2rem;
}

.registered-farmers {
  background: #6bc36f;
}

.orders-placed {
  background: #3f9cf0;
}

.total-revenue {
  background: #ffc107;
}

.loans-deliverd {
  background: #7465c0;
}

/* Charts styles
----------------------------*/
.graphs-wrap {
  position: absolute;
  top: 330px;
  left: 8%;
  width: 89%;
  height: 50vh;

}

.chart-container {
  position: relative;
  display: block;
  float: left;
  min-height: 370px;
  min-width: 220px;
  background: #fff;
  border: 1px solid rgba(0,0,0,.35);
}

.chart-container:nth-child(odd) {
  width: 25%;
}

.chart-container:nth-child(even) {
  width: calc(50% - 16px);
  margin-right: 8px;
  margin-left: 8px;
}

canvas {
  position: relative;
  top: 5px;
}

/* Charts Title and Buttons
-------------------------------------------*/
.chart-title-wrap {
  width: 100%;
  padding: 16px 8px;
  min-height: 42px;
  background: #fff;
  border-color: rgba(0,0,0,.35);
  border-style: solid;
  border-width: 0 0 1px 0;
  overflow: hidden;
}

.chart-title {
  float: left;
  max-width: 75%;
  font-size: .8rem;
  margin: 5px;
}

.action-btn {
  display: block;
  text-decoration: none;
  float: right;
  margin: auto 5px;
  font-size: 1rem;
  color: #383838;
  font-weight: bolder;
  padding: 0;
}

.svg-action {
  display: block;
  float: right;
  margin: 5px;
  width: 13px;
  height: 13px;
  color: #383838;
}

/* Footer styles
-------------------------------------------------*/
footer {
  display: block;
  position: relative;
  margin-top: 16px;
  height: 50px;
  width: 100vw;
  top: 680px;
  left: 0;
}
